@import "tailwindcss";

/* 🌞 LIGHT THEME */
@theme {
    /* FONT */
    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;

    /* PRIMARY */
    --color-primary: #3B82F6;
    --color-primary-hover: #2175BB;

    /* BACKGROUND */
    --color-bg: #FFFFFF;
    --color-surface: #F7F7F7;

    /* TEXT */
    --color-text: #232323;
    --color-text-secondary: #575757;

    /* BORDER */
    --color-border: #DADADA;

    /* STATES */
    --color-success: #00AD0C;
    --color-warning: #FFAE00;
    --color-error: #B70B0B;
}

/* 🌙 DARK THEME */
.dark {
    --color-bg: #0f172a;
    --color-surface: #1e293b;

    --color-text: #f1f5f9;
    --color-text-secondary: #94a3b8;

    --color-border: #334155;

    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-error: #ef4444;
}

/* BASE */
html, body, #root {
    height: 100%;
    margin: 0;
    font-family: var(--font-sans);
    background: var(--color-bg);
    color: var(--color-text);
}