.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.modal h2 {
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 22px;
    font-weight: bold;
    color: #222;
}

.modal p {
    font-size: 15px;
    margin-bottom: 10px;
    color: #555;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal input {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.modal button[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #00bcd4;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal button[type="submit"]:hover {
    background-color: #dddde6;
}

.modal .success {
    color: green !important;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
}

.modal .error {
    margin-top: 5px;
    margin-bottom: 0;
    color: red !important;
    font-size: 14px;
}

.closeBtn {
    margin-top: 10px;
    width: 100%;
    background: none;
    border: 1px solid #00bcd4;
    color: #00bcd4;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

.closeBtn:hover {
    background-color: #dddde6;
    color: #939393;
    border-color: #ffffff;
}


.modal input:focus {
    outline: none;
    border-color: #00bcd4;
}